* text=auto eol=lf

/.github            export-ignore
/docs               export-ignore
/tests              export-ignore
/workbench          export-ignore
/resources/css      export-ignore
/resources/js       export-ignore
/.editorconfig      export-ignore
/.gitattributes     export-ignore
/.gitignore         export-ignore
/package.json       export-ignore
/package-lock.json  export-ignore
/vite.config.js     export-ignore
/phpstan.neon.dist  export-ignore
/phpunit.xml.dist   export-ignore
/pint.json          export-ignore
/rector.php         export-ignore
/testbench.yaml     export-ignore
/CONTRIBUTING.md    export-ignore

/dist/**            -diff linguist-generated
